In [209]:
import pandas as pd

In [210]:
df_statistics = pd.read_csv('calculator_statistics.csv')
df_statistics

,operands,results,execution_time,operators
0,"5, 5, 2",8,0.000016,"+, -"
1,"2, 2, 1",4,0.000015,"*, /"
2,"5, 100, 25",30,0.000015,"%, +"
3,"2, 3, 1",9,0.000015,"**, +"
4,"2, 2, 6, 8, 2, 1",26,0.000043,"+, +, --, *, /"
5,"5, 2",7,0.000014,--
6,"5, 2",7,0.000012,+
7,5,120,0.000001,!
8,25,15511210043330986000000000,0.000003,!
9,"5, 2",3,0.000021,---
10,"5, 2",7,0.000013,--
11,5,120,0.000002,!

In [211]:
curr_series = df_statistics.loc[:, 'operators']

In [212]:
curr_series

0               +, -
1               *, /
2               %, +
3              **, +
4     +, +, --, *, /
5                 --
6                  +
7                  !
8                  !
9                ---
10                --
11                 !
Name: operators, dtype: object

# 1. Mandatory descriptive statistic

In [213]:
addition_counts = 0
subtraction_count = 0
multiplication_count = 0
division_count = 0

for cell in curr_series:
    for char in cell:
        if char == '+':
            addition_counts += 1
        if char == '-':
            subtraction_count += 1
        if char == '*':
            multiplication_count += 1
        if char == '/':
            division_count += 1

average_elementary_operations = (addition_counts + subtraction_count + multiplication_count + division_count) / 4

## 1.1 Total number of times the calculator performed addition operation

In [214]:
addition_counts

6

## 1.2 Total number of times the calculator performed subtraction operation

In [215]:
subtraction_count

10

## 1.3 Average number of times calculator performed elementary operations

In [216]:
average_elementary_operations

5.5

# 2 Other descriptive statistics

## 2.1 All factoriel operations

In [229]:
df_statistics.query("operators == '!'")

   operands                     results  execution_time operators
7         5                         120        0.000001         !
8        25  15511210043330986000000000        0.000003         !
11        5                         120        0.000002         !

## 2.2 Sorting the data frame by time of executions descending

In [246]:
sorted_by_exec_time = df_statistics.sort_values('execution_time', ascending=False)

In [247]:
sorted_by_exec_time

,operands,results,execution_time,operators
4,"2, 2, 6, 8, 2, 1",26,0.000043,"+, +, --, *, /"
9,"5, 2",3,0.000021,---
0,"5, 5, 2",8,0.000016,"+, -"
1,"2, 2, 1",4,0.000015,"*, /"
3,"2, 3, 1",9,0.000015,"**, +"
2,"5, 100, 25",30,0.000015,"%, +"
5,"5, 2",7,0.000014,--
10,"5, 2",7,0.000013,--
6,"5, 2",7,0.000012,+
8,25,15511210043330986000000000,0.000003,!
11,5,120,0.000002,!
7,5,120,0.000001,!

### 2.2.1 Rearranging the columns

In [253]:
sorted_by_exec_time = sorted_by_exec_time[['execution_time', 'operators', 'operands', 'results']]
sorted_by_exec_time

,execution_time,operators,operands,results
4,0.000043,"+, +, --, *, /","2, 2, 6, 8, 2, 1",26
9,0.000021,---,"5, 2",3
0,0.000016,"+, -","5, 5, 2",8
1,0.000015,"*, /","2, 2, 1",4
3,0.000015,"**, +","2, 3, 1",9
2,0.000015,"%, +","5, 100, 25",30
5,0.000014,--,"5, 2",7
10,0.000013,--,"5, 2",7
6,0.000012,+,"5, 2",7
8,0.000003,!,25,15511210043330986000000000
11,0.000002,!,5,120
7,0.000001,!,5,120

### 2.2.2 Resetting the indexes

In [256]:
df_statistics.reset_index(drop=True)

,operands,results,execution_time,operators
0,"5, 5, 2",8,0.000016,"+, -"
1,"2, 2, 1",4,0.000015,"*, /"
2,"5, 100, 25",30,0.000015,"%, +"
3,"2, 3, 1",9,0.000015,"**, +"
4,"2, 2, 6, 8, 2, 1",26,0.000043,"+, +, --, *, /"
5,"5, 2",7,0.000014,--
6,"5, 2",7,0.000012,+
7,5,120,0.000001,!
8,25,15511210043330986000000000,0.000003,!
9,"5, 2",3,0.000021,---
10,"5, 2",7,0.000013,--
11,5,120,0.000002,!