In [64]:
import pandas as pd

In [65]:
df_statistics = pd.read_csv('calculator_statistics.csv')
df_statistics

  operands  results  execution_time
0  5, 5, 2        8        0.000015
1     8, 4        2        0.000030
2  2, 2, 4        0        0.000020
3        5      120        0.000002
4   5, 100        5        0.000013
5  5, 2, 5       20        0.000014

In [66]:
curr_data = df_statistics.loc[0][0]
curr_data

'5, 5, 2'

In [67]:
comas = 0
digit = 0
for char in curr_data:
    if char == ',':
        comas += 1
    if char == '5':
        digit += 1
print(comas,digit)

2 2

In [68]:
curr_series = df_statistics.loc[:,'operands']

In [69]:
curr_series

0    5, 5, 2
1       8, 4
2    2, 2, 4
3          5
4     5, 100
5    5, 2, 5
Name: operands, dtype: object

In [70]:
comas = 0
for cell in curr_series:
    for char in cell:
        if char == ',':
            comas += 1

print(comas)

8

In [73]:
the_sym = ','
count = df_statistics['operands'].str.count(the_sym).sum()
print(count)

8