In [30]:
import pandas as pd

In [31]:
df_statistics = pd.read_csv('calculator_statistics.csv')
df_statistics

    results math_expression  execution_time      operands operators
0     10.00             5+5        0.000018          5, 5         +
1      4.00   (25-5) * 5/25        0.000024  25, 5, 5, 25   -, *, /
2    120.00              5!        0.000002             5         !
3      6.25            25/4        0.000045         25, 4         /
4     28.00          28%124        0.000024       28, 124         %
5      5.00      (5**2) / 5        0.000023       5, 2, 5     **, /
6   1731.00        2300-569        0.000015     2300, 569         -
7    720.00              6!        0.000004             6         !
8    643.00         899-256        0.000025      899, 256         -
9    361.00         236+125        0.000017      236, 125         +
10    30.00         25+10/2        0.000021     25, 10, 2      +, /

In [32]:
curr_series = df_statistics['operators']

In [33]:
curr_series

0           +
1     -, *, /
2           !
3           /
4           %
5       **, /
6           -
7           !
8           -
9           +
10       +, /
Name: operators, dtype: object

# 1. Mandatory descriptive statistic

## Elementary operations(+,-,*, /)

In [34]:
addition_counts = 0
subtraction_count = 0
multiplication_count = 0
division_count = 0

for cell in curr_series:
    for char in cell:
        if char == '+':
            addition_counts += 1
        if char == '-':
            subtraction_count += 1
        if char == '*':
            multiplication_count += 1
        if char == '/':
            division_count += 1

average_elementary_operations = (addition_counts + subtraction_count + multiplication_count + division_count) / 4

## 1.1 Total number of times the calculator performed addition operation

In [35]:
addition_counts

3

## 1.2 Total number of times the calculator performed subtraction operation

In [36]:
subtraction_count

3

## 1.3 Average number of times calculator performed elementary operations

In [37]:
average_elementary_operations

3.25

# 2 Other descriptive statistics

## 2.1 All factoriel operations

In [38]:
df_statistics.query("operators == '!'")

   results math_expression  execution_time operands operators
2    120.0              5!        0.000002        5         !
7    720.0              6!        0.000004        6         !

## 2.2 Sorting the data frame by time of executions descending

In [39]:
sorted_by_exec_time = df_statistics.sort_values('execution_time', ascending=False)

In [40]:
sorted_by_exec_time

    results math_expression  execution_time      operands operators
3      6.25            25/4        0.000045         25, 4         /
8    643.00         899-256        0.000025      899, 256         -
1      4.00   (25-5) * 5/25        0.000024  25, 5, 5, 25   -, *, /
4     28.00          28%124        0.000024       28, 124         %
5      5.00      (5**2) / 5        0.000023       5, 2, 5     **, /
10    30.00         25+10/2        0.000021     25, 10, 2      +, /
0     10.00             5+5        0.000018          5, 5         +
9    361.00         236+125        0.000017      236, 125         +
6   1731.00        2300-569        0.000015     2300, 569         -
7    720.00              6!        0.000004             6         !
2    120.00              5!        0.000002             5         !

### 2.2.1 Rearranging the columns

In [41]:
sorted_by_exec_time = sorted_by_exec_time[['execution_time', 'operators', 'operands', 'results']]
sorted_by_exec_time

    execution_time operators      operands  results
3         0.000045         /         25, 4     6.25
8         0.000025         -      899, 256   643.00
1         0.000024   -, *, /  25, 5, 5, 25     4.00
4         0.000024         %       28, 124    28.00
5         0.000023     **, /       5, 2, 5     5.00
10        0.000021      +, /     25, 10, 2    30.00
0         0.000018         +          5, 5    10.00
9         0.000017         +      236, 125   361.00
6         0.000015         -     2300, 569  1731.00
7         0.000004         !             6   720.00
2         0.000002         !             5   120.00

### 2.2.2 Resetting the indexes

In [42]:
sorted_by_exec_time.reset_index(drop=True)

    execution_time operators      operands  results
0         0.000045         /         25, 4     6.25
1         0.000025         -      899, 256   643.00
2         0.000024   -, *, /  25, 5, 5, 25     4.00
3         0.000024         %       28, 124    28.00
4         0.000023     **, /       5, 2, 5     5.00
5         0.000021      +, /     25, 10, 2    30.00
6         0.000018         +          5, 5    10.00
7         0.000017         +      236, 125   361.00
8         0.000015         -     2300, 569  1731.00
9         0.000004         !             6   720.00
10        0.000002         !             5   120.00