In [201]:
import pandas as pd

In [202]:
df_statistics = pd.read_csv('calculator_statistics.csv')
df_statistics

,operands,results,execution_time,operators
0,"5, 5, 2",8,0.000016,"+, -"
1,"2, 2, 1",4,0.000015,"*, /"
2,"5, 100, 25",30,0.000015,"%, +"
3,"2, 3, 1",9,0.000015,"**, +"
4,"2, 2, 6, 8, 2, 1",26,0.000043,"+, +, --, *, /"
5,"5, 2",7,0.000014,--
6,"5, 2",7,0.000012,+
7,5,120,0.000001,!
8,25,15511210043330986000000000,0.000003,!
9,"5, 2",3,0.000021,---
10,"5, 2",7,0.000013,--
11,5,120,0.000002,!

In [203]:
curr_series = df_statistics.loc[:, 'operators']

In [204]:
curr_series

0               +, -
1               *, /
2               %, +
3              **, +
4     +, +, --, *, /
5                 --
6                  +
7                  !
8                  !
9                ---
10                --
11                 !
Name: operators, dtype: object

# 1. Mandatory descriptive statistic

In [205]:
addition_counts = 0
subtraction_count = 0
multiplication_count = 0
division_count = 0


for cell in curr_series:
    for char in cell:
        if char == '+':
            addition_counts += 1
        if char == '-':
            subtraction_count += 1
        if char == '*':
            multiplication_count += 1
        if char == '/':
            division_count += 1

average_elementary_operations = (addition_counts + subtraction_count + multiplication_count + division_count) / 4

## 1.1 Total number of times the calculator performed addition operation

In [206]:
addition_counts

6

## 1.2 Total number of times the calculator performed subtraction operation

In [207]:
subtraction_count

10

## 1.3 Average number of times calculator performed elementary operations

In [208]:
average_elementary_operations

5.5

# 2 Other descriptive statistics